<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="origin">
    
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>小戳同学 - 博客园</title>
    
    <link rel="stylesheet" href="https://www.cnblogs.com/css/blog-common.min.css?v=sqi5FxOybx6gjGoG6Zfy1wD-0AwznLNLYOVx7Y9tIN0">
    <link id="MainCss" rel="stylesheet" href="https://www.cnblogs.com/skins/coffee/bundle-coffee.min.css?v=pdMIVgsH8kXt-vOWnlL0N20TlHt3UyP9HzGgocfsP4s">
    
    <link id="mobile-style" media="only screen and (max-width: 767px)" type="text/css" rel="stylesheet" href="https://www.cnblogs.com/skins/coffee/bundle-coffee-mobile.min.css?v=MGucLWekW6t3A88Ks-YfEzrx4X_hEIpMacbOAC9lJUs">
    
    <link type="application/rss+xml" rel="alternate" href="https://www.cnblogs.com/xiaokuangnvhai/rss">
    <link type="application/rsd+xml" rel="EditURI" href="https://www.cnblogs.com/xiaokuangnvhai/rsd.xml">
    <link type="application/wlwmanifest+xml" rel="wlwmanifest" href="https://www.cnblogs.com/xiaokuangnvhai/wlwmanifest.xml">
    <script async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://common.cnblogs.com/scripts/jquery-2.2.0.min.js"></script>
    <script src="https://www.cnblogs.com/js/blog-common.min.js?v=ruOFvx8_pDlyiWjHGHyOXclVmNo396_IKB8YFZjMllo"></script>
    <script>
        var currentBlogId = 516754;
        var currentBlogApp = 'xiaokuangnvhai';
        var cb_enable_mathjax = false;
        var isLogined = true;
    </script>  
</head><h1 class='postTitle'><a class="postTitle2" href="https://www.cnblogs.com/xiaokuangnvhai/p/11676063.html" id="cb_post_title_url">django框架个人博客实战</a></h1<div class='postBody'><div class="blogpost-body" id="cnblogs_post_body">
<h2>一、静态网页及资源拷入对应目录，并对页面js,css,images做引用路径的修改</h2>
<ul>
<li>
<h4>静态文件拷贝到templates文件下</h4>
</li>
<li>
<h4>静态资源拷贝到static文件下</h4>
</li>
<li>
<h4>修改js,css,image资源引用路径</h4>
</li>
</ul>
<p><img alt="" src="https://img2018.cnblogs.com/blog/783015/201910/783015-20191016105956186-1013011572.png"/></p>
<p> </p>
<h2> 二、替换页面标题及轮播图片</h2>
<p><img alt="" src="https://img2018.cnblogs.com/blog/783015/201910/783015-20191016111601151-2037027802.png"/></p>
<p> </p>
<p> </p>
<p><img alt="" src="https://img2018.cnblogs.com/blog/783015/201910/783015-20191016111629491-1007277197.png"/></p>
<p> </p>
<h2> 三、菜单动态数据库读取</h2>
<h3>1、创建表</h3>
<div class="cnblogs_code">
<pre><span style="color: #000000;">modles文件，定义表结构

</span><span style="color: #0000ff;">from</span> django.db <span style="color: #0000ff;">import</span><span style="color: #000000;"> models

</span><span style="color: #008000;">#</span><span style="color: #008000;"> Create your models here.</span>

<span style="color: #0000ff;">class</span><span style="color: #000000;"> Nav (models.Model):
    name</span>=models.CharField(max_length=10,unique=True,verbose_name=<span style="color: #800000;">"</span><span style="color: #800000;">导航名称</span><span style="color: #800000;">"</span>) <span style="color: #008000;">#</span><span style="color: #008000;">int可以不加长度，字符串类型必须加长度</span>
    url=models.CharField(max_length=100,unique=True,verbose_name=<span style="color: #800000;">'</span><span style="color: #800000;">导航链接</span><span style="color: #800000;">'</span><span style="color: #000000;">)
    classname</span>=models.CharField(max_length=50,unique=True,verbose_name=<span style="color: #800000;">'</span><span style="color: #800000;">导航图标</span><span style="color: #800000;">'</span><span style="color: #000000;">)
    is_delete</span>=models.SmallIntegerField(default=1,verbose_name=<span style="color: #800000;">'</span><span style="color: #800000;">是否被删除</span><span style="color: #800000;">'</span><span style="color: #000000;">)
    create_time</span>=models.DateTimeField(verbose_name=<span style="color: #800000;">'</span><span style="color: #800000;">创建时间</span><span style="color: #800000;">'</span>,auto_now_add=True) <span style="color: #008000;">#</span><span style="color: #008000;">auto_now_add插入数据自动取当前时间</span>
    update_time=models.DateTimeField(verbose_name=<span style="color: #800000;">'</span><span style="color: #800000;">修改时间</span><span style="color: #800000;">'</span>,auto_now=True)<span style="color: #008000;">#</span><span style="color: #008000;">auto_now 修改时间自动取当前时间</span>

    <span style="color: #0000ff;">def</span> <span style="color: #800080;">__str__</span><span style="color: #000000;">(self):
        </span><span style="color: #0000ff;">return</span><span style="color: #000000;"> self.name

    </span><span style="color: #0000ff;">class</span><span style="color: #000000;"> Meta:
        verbose_name</span>=<span style="color: #800000;">'</span><span style="color: #800000;">导航表</span><span style="color: #800000;">'</span><span style="color: #000000;">
        verbose_name_plural</span>=<span style="color: #000000;">verbose_name
        db_table</span>=<span style="color: #800000;">'</span><span style="color: #800000;">nav</span><span style="color: #800000;">'</span> <span style="color: #008000;">#</span><span style="color: #008000;">指定表名</span>
        ordering=[<span style="color: #800000;">'</span><span style="color: #800000;">update_time</span><span style="color: #800000;">'</span>] <span style="color: #008000;">#</span><span style="color: #008000;">查询数据的时候，用来排序的</span></pre>
</div>
<h3>2、生成表</h3>
<div class="cnblogs_code">
<pre><span style="color: #000000;">命令行输入

</span>1、python manage.py makemigrations  ---<span style="color: #000000;">创建表结构

</span>2、python manage.py migrate  ---创建数据库表</pre>
</div>
<h3>3、创建成功，可通过Navicat的SQLite方式连接数据库</h3>
<p>创建连接选择项目中的db.sqlite3文件，进行建连接，连接后，查看新建表</p>
<p><img alt="" src="https://img2018.cnblogs.com/blog/783015/201910/783015-20191016161133648-2137609032.png"/></p>
<p> </p>
<h3> 4、为表加数据</h3>
<div class="cnblogs_code">
<pre><span style="color: #000000;">modles_test.py文件加数据

</span><span style="color: #0000ff;">import</span><span style="color: #000000;"> django,os
os.environ.setdefault(</span><span style="color: #800000;">'</span><span style="color: #800000;">DJANGO_SETTINGS_MODULE</span><span style="color: #800000;">'</span>,<span style="color: #800000;">'</span><span style="color: #800000;">django_study2.settings</span><span style="color: #800000;">'</span>) <span style="color: #008000;">#</span><span style="color: #008000;">设置django的数据库配置文件</span>
<span style="color: #000000;">django.setup()  

</span><span style="color: #0000ff;">from</span> user <span style="color: #0000ff;">import</span><span style="color: #000000;"> models

</span><span style="color: #008000;">#</span><span style="color: #008000;">新增</span>
models.Nav.objects.create(name=<span style="color: #800000;">'</span><span style="color: #800000;">首页</span><span style="color: #800000;">'</span>,url=<span style="color: #800000;">'</span><span style="color: #800000;">index</span><span style="color: #800000;">'</span>,classname=<span style="color: #800000;">'</span><span style="color: #800000;">home</span><span style="color: #800000;">'</span>) <span style="color: #008000;">#</span><span style="color: #008000;">新增第一种方法</span>
models.Nav.objects.create(name=<span style="color: #800000;">'</span><span style="color: #800000;">图集</span><span style="color: #800000;">'</span>,url=<span style="color: #800000;">'</span><span style="color: #800000;">photos</span><span style="color: #800000;">'</span>,classname=<span style="color: #800000;">'</span><span style="color: #800000;">picture1</span><span style="color: #800000;">'</span><span style="color: #000000;">)
models.Nav.objects.create(name</span>=<span style="color: #800000;">'</span><span style="color: #800000;">相关新闻</span><span style="color: #800000;">'</span>,url=<span style="color: #800000;">'</span><span style="color: #800000;">blog</span><span style="color: #800000;">'</span>,classname=<span style="color: #800000;">'</span><span style="color: #800000;">edit1</span><span style="color: #800000;">'</span><span style="color: #000000;">)
models.Nav.objects.create(name</span>=<span style="color: #800000;">'</span><span style="color: #800000;">剧情介绍</span><span style="color: #800000;">'</span>,url=<span style="color: #800000;">'</span><span style="color: #800000;">short-codes</span><span style="color: #800000;">'</span>,classname=<span style="color: #800000;">'</span><span style="color: #800000;">text-size1</span><span style="color: #800000;">'</span><span style="color: #000000;">)
models.Nav.objects.create(name</span>=<span style="color: #800000;">'</span><span style="color: #800000;">读者来信</span><span style="color: #800000;">'</span>,url=<span style="color: #800000;">'</span><span style="color: #800000;">mail</span><span style="color: #800000;">'</span>,classname=<span style="color: #800000;">'</span><span style="color: #800000;">envelope1</span><span style="color: #800000;">'</span>)</pre>
</div>
<p><img alt="" src="https://img2018.cnblogs.com/blog/783015/201910/783015-20191016161320712-1708439550.png"/></p>
<p> </p>
<p> </p>
<h3>5、view文件中获取数据库数据，并返回</h3>
<div class="cnblogs_code">
<pre><span style="color: #0000ff;">from</span> django.shortcuts <span style="color: #0000ff;">import</span><span style="color: #000000;"> render
</span><span style="color: #0000ff;">from</span> user <span style="color: #0000ff;">import</span><span style="color: #000000;"> models
</span><span style="color: #0000ff;">from</span> django.shortcuts <span style="color: #0000ff;">import</span><span style="color: #000000;"> HttpResponse

</span><span style="color: #008000;">#</span><span style="color: #008000;"> Create your views here.</span>

<span style="color: #0000ff;">def</span><span style="color: #000000;"> index(request):
    tab </span>=models.Nav.objects.filter(is_delete=1) <span style="color: #008000;">#</span><span style="color: #008000;">获取数据库数据</span>
    dic={<span style="color: #800000;">"</span><span style="color: #800000;">tab</span><span style="color: #800000;">"</span><span style="color: #000000;">:tab}
    </span><span style="color: #0000ff;">return</span> render(request, <span style="color: #800000;">'</span><span style="color: #800000;">index.html</span><span style="color: #800000;">'</span>,dic) <span style="color: #008000;">#</span><span style="color: #008000;">字段方式传参</span></pre>
</div>
<h3>6、把index加入到urls文件中</h3>
<div class="cnblogs_code">
<pre><span style="color: #0000ff;">from</span> django.contrib <span style="color: #0000ff;">import</span><span style="color: #000000;"> admin
</span><span style="color: #0000ff;">from</span> django.urls <span style="color: #0000ff;">import</span><span style="color: #000000;"> path
</span><span style="color: #0000ff;">from</span> user <span style="color: #0000ff;">import</span><span style="color: #000000;"> views

urlpatterns </span>=<span style="color: #000000;"> [
    path(</span><span style="color: #800000;">'</span><span style="color: #800000;">admin/</span><span style="color: #800000;">'</span><span style="color: #000000;">, admin.site.urls),
    path(</span><span style="color: #800000;">'</span><span style="color: #800000;">index/</span><span style="color: #800000;">'</span><span style="color: #000000;">, views.index),

]</span></pre>
</div>
<h3>7、对index.html文件中的内容做动态替换</h3>
<div class="cnblogs_code">
<pre>    <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="collapse navbar-collapse nav-wil"</span><span style="color: #ff0000;"> id</span><span style="color: #0000ff;">="bs-example-navbar-collapse-1"</span><span style="color: #0000ff;">&gt;</span>
                            <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">nav </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="stroke"</span><span style="color: #0000ff;">&gt;</span>
                                <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">ul </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="nav navbar-nav"</span><span style="color: #0000ff;">&gt;</span><span style="color: #000000;">
                                   {% for k in tab %}
                                       {% if  k.url == 'index' %}
                                        </span><span style="color: #0000ff;">&lt;</span><span style="color: #800000;">li </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="active"</span><span style="color: #0000ff;">&gt;&lt;</span><span style="color: #800000;">a </span><span style="color: #ff0000;">href</span><span style="color: #0000ff;">="{{k.url}}.html"</span><span style="color: #0000ff;">&gt;&lt;</span><span style="color: #800000;">i </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">={{k.classname}}</span><span style="color: #0000ff;">&gt;&lt;/</span><span style="color: #800000;">i</span><span style="color: #0000ff;">&gt;</span>{{k.name}}<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">a</span><span style="color: #0000ff;">&gt;&lt;/</span><span style="color: #800000;">li</span><span style="color: #0000ff;">&gt;</span><span style="color: #000000;">
                                       {% else %}
                                       </span><span style="color: #0000ff;">&lt;</span><span style="color: #800000;">li</span><span style="color: #0000ff;">&gt;&lt;</span><span style="color: #800000;">a </span><span style="color: #ff0000;">href</span><span style="color: #0000ff;">="{{k.url}}.html"</span><span style="color: #ff0000;"> class</span><span style="color: #0000ff;">="hvr-underline-from-left"</span><span style="color: #0000ff;">&gt;&lt;</span><span style="color: #800000;">i </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">={{k.classname}}</span><span style="color: #0000ff;">&gt;&lt;/</span><span style="color: #800000;">i</span><span style="color: #0000ff;">&gt;</span>{{k.name}}<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">a</span><span style="color: #0000ff;">&gt;&lt;/</span><span style="color: #800000;">li</span><span style="color: #0000ff;">&gt;</span><span style="color: #000000;">
                                    {% endif %}
                                   {% endfor %}
                                </span><span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">ul</span><span style="color: #0000ff;">&gt;</span>
                            <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">nav</span><span style="color: #0000ff;">&gt;</span>
                        <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span></pre>
</div>
<h3>8、启动manage.py文件，浏览器访问http://127.0.0.1:8000/index</h3>
<p><img alt="" src="https://img2018.cnblogs.com/blog/783015/201910/783015-20191016162034856-1826593377.png"/></p>
<p> </p>
<h2>四、模块化</h2>
<h3> 1、抽取公共部分</h3>
<p>比如左边栏，底部及右上半栏每个页面都是一样的，仅仅右下半栏每个页面不一致，新建base.html文件，中间变动的部分用如下代码代替</p>
<div class="cnblogs_code">
<pre><span style="color: #000000;">{% block content %}
{% endblock %}</span></pre>
</div>
<p><img alt="" src="https://img2018.cnblogs.com/blog/783015/201910/783015-20191016170151674-491818865.png"/></p>
<p> </p>
<h3> 2、引用公共模块，把不同的模块写入目标文件</h3>
<div class="cnblogs_code">
<pre><span style="color: #000000;">{% extends 'base.html'%} #引用公共文件
{% block content %}
不同的代码块写在这里
{% endblock %}</span></pre>
</div>
<p><img alt="" src="https://img2018.cnblogs.com/blog/783015/201910/783015-20191016170346870-1872358652.png"/></p>
<p> </p>
<h3> 3、浏览网页，其和刚才不抽离显示一样，如下图</h3>
<p><img alt="" src="https://img2018.cnblogs.com/blog/783015/201910/783015-20191016170437277-357600257.png"/></p>
<h2> 五、上下文管理器方式</h2>
<h3><strong>1、新建文件且将该文件配置到setting文件中</strong></h3>
<p><img alt="" src="https://img2018.cnblogs.com/blog/783015/201910/783015-20191017112814107-1170001765.png"/></p>
<p> </p>
<h3> 2、文件引用modles文件，读取数据，content变量在任何页面均可使用</h3>
<div class="cnblogs_code">
<pre><span style="color: #0000ff;">from</span> user <span style="color: #0000ff;">import</span><span style="color: #000000;"> models
</span><span style="color: #0000ff;">def</span><span style="color: #000000;"> nav_title_process(request):
    </span><span style="color: #800000;">'''</span><span style="color: #800000;">上下文管理器，这个函数里面返回的每个变量，在每个页面里面都可以用</span><span style="color: #800000;">'''</span><span style="color: #000000;">
    title </span>= models.top3.objects.filter(is_delete=1<span style="color: #000000;">)
    content</span>={<span style="color: #800000;">"</span><span style="color: #800000;">title</span><span style="color: #800000;">"</span><span style="color: #000000;">:title}
    </span><span style="color: #0000ff;">return</span>  content</pre>
</div>
<h3>3、在html文件中引用该变量</h3>
<div class="cnblogs_code">
<pre>                <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="banner-bottom"</span><span style="color: #0000ff;">&gt;</span><span style="color: #000000;">
                    {% for info in title %} #循环变量中的title
                    </span><span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="col-md-4 banner-left"</span><span style="color: #0000ff;">&gt;</span>
                        <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="col-xs-3 banner-left1"</span><span style="color: #0000ff;">&gt;</span>
                            <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="banner-left11"</span><span style="color: #0000ff;">&gt;</span>
                                <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">span</span><span style="color: #0000ff;">&gt;</span> <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">span</span><span style="color: #0000ff;">&gt;</span>
                            <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
                        <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
                        <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="col-xs-9 banner-right1"</span><span style="color: #0000ff;">&gt;</span>
                            <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">h3</span><span style="color: #0000ff;">&gt;</span>{{ info.title }}<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">h3</span><span style="color: #0000ff;">&gt; #读取info中的文章标题</span>
                        <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
                        <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="clearfix"</span><span style="color: #0000ff;">&gt;</span> <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
                        <span style="color: #0000ff;">&lt;</span><span style="color: #800000;">p</span><span style="color: #0000ff;">&gt;</span>{{ info.content }}<span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">p</span><span style="color: #0000ff;">&gt;  #读取info中的文章内容</span>
                    <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span><span style="color: #000000;">
                    {% endfor %}  #结束循环
                    </span><span style="color: #0000ff;">&lt;</span><span style="color: #800000;">div </span><span style="color: #ff0000;">class</span><span style="color: #0000ff;">="clearfix"</span><span style="color: #0000ff;">&gt;&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
                <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span>
            <span style="color: #0000ff;">&lt;/</span><span style="color: #800000;">div</span><span style="color: #0000ff;">&gt;</span></pre>
</div>
<h3>4、页面效果，如下</h3>
<p><img alt="" src="https://img2018.cnblogs.com/blog/783015/201910/783015-20191017113244062-426167297.png"/></p>
<p> </p>
</div></div>